.movie {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: left;
  padding: 40px 30px;
  min-height: 80vh;
  background-color: white;

  @media screen and (max-width: 680px) {
    flex-direction: column;
    padding: 40px 10px;
  }

  &__button--back {
    position: absolute;
    top: 8px;
    left: 20px;
    border-radius: 3px;
    background-color: #06b8ae;
    color: white;
    transition: 0.3s;

    &:hover {
      transition: transform 0.3s;
      transform: scale(1.01);
    }
  }

  &__img {
    display: block;
    margin: 0 auto;

    @media screen and (max-width: 680px) {
      width: 300px;
      margin-bottom: 30px;
    }
  }

  &__details {
    margin-left: 20px;
    max-width: 800px;

    @media screen and (max-width: 960px) {
      min-width: 250px;
      margin-bottom: 30px;
    }
  }

  &__rating {
    display: flex;
    align-items: center;

    .star-logo {
      height: 50px;
      width: 50px;
      background: url("../../assets/img/rating-star.svg") no-repeat center;
      background-size: cover;
    }

    .rating__score {
      font-weight: bold;
      font-size: 25px;
    }
  }

  .description {

    &__item {
      border-bottom: 1px solid black;
      margin-bottom: 8px;
    }
  }
}
