.form {
  max-width: 900px;
  margin: 20px auto 0;

  &__control {
    display: flex;
    justify-content: space-between;
  }

  &__label {
    position: relative;
    display: block;
    width: 80%;
  }

  &__input {
    position: relative;
    font-size: 20px;
    color: #121212;
    min-width: 140px;
    width: 100%;
    padding: 15px 20px;
    outline: none;
    border: 1px solid #90c4d8;
    border-radius: 5px;
    transition: 0.3s;

    &:focus {
      border-color: #90c4d8;
    }

    @media screen and (max-width: 680px) {
      font-size: 15px;
    }
  }

  &__input-error {
    border-color: red;
  }

  &__button {
    width: 20%;
    margin-left: 10px;
    color: white;
    font-weight: 700;
    border: 1px solid #3299d2;
    border-radius: 5px;
    background-color: #3299d2;
    transition: 0.3s;

    &:hover {
      transform: scale(1.02);
      color: black;
      background-color: snow;
      outline: none;
      box-shadow: 0 0 22px -4px rgba(50,153,210,1);
    }

    @media screen and (max-width: 680px) {
      font-size: 13px;
    }
  }

  &__error {
    margin: 5px 0 10px;
    color: red;
    text-align: left;
  }
}
