.history {
  display: flex;
  align-items: center;
  margin-top: 20px;

  @media screen and (max-width: 960px) {
    flex-direction: column;
    align-items: flex-start;
  }

  &__clear {
    margin-right: 15px;
    border-radius: 3px;
    background-color: #06b8ae;
    color: white;
    transition: 0.3s;

    &:hover {
      transition: 0.3s;
      transform: scale(1.1);
    }
  }

  &__title {
    font-weight: bold;
    height: 100%;
  }

  &__list {
    display: flex;
    align-items: center;

    @media screen and (max-width: 960px) {
      flex-wrap: wrap;
    }
  }

  &__item {
    margin-left: 8px;
  }

  &__item--title {
    @media screen and (max-width: 960px) {
      margin: 8px 0;
    }
  }

  &__button {
    border-radius: 5px;
    color: black;
    transition: 0.3s;

    &:hover {
      transition: 0.3s;
      transform: scale(1.05);
    }
  }
}
