body {
  background-color: #e2e2e1;
}

.App {
  background-color: #e2e2e1;
}

.hello__marakas {
  position: relative;
  margin: 0 auto;
  mix-blend-mode: screen;

  img {
    position: absolute;
    left: calc(50% - 200px);
  }
}
